.button-box{
    margin-top: 20px;
}

.common-button{
    margin-top: 15px;
    margin-right: 15px;
    width: 20%;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;

    background-color: var(--button-color);
    color: var(--button-color-text);
}

.common-button:hover{
    background-color: var(--invert-button-color-text);
    color: var(--invert-button-color);
}

.ans-button{
    margin-top: 15px;
    margin-right: 15px;
    width: 20%;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;

    background-color: var(--ans-button-color);
    color: var(--button-color-text);
}

.ans-button:hover{
    background-color: var(--invert-button-color);
    color: var(--invert-button-color-text);
}
